<a href="https://colab.research.google.com/github/prime2911/handsome-jack-discord-chatbot/blob/main/parse_scripts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
from google.colab import drive
drive.mount("/content/drive/")

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [11]:
import os
os.chdir("/content/drive/My Drive/Colab Notebooks/Handsome Jack Discord Chatbot")

In [12]:
!ls

handsome_bot.ipynb  handsome_jack.txt  parse_scripts.ipynb

In [13]:
import re # RegularExpressions (regex)
import pandas as pd

In [14]:
# Regex pattern that splits "person's name: person's line" into "person's name" and "person's line"
pattern = r"([a-zA-Z\s]+):(.+)"

data = {
    "name": [],
    "line": []
}

In [15]:
with open("handsome_jack.txt", "rt") as file:
  for line in file.readlines():
    match = re.findall(pattern, line)
    if match:
      name, line = match[0]
      data["name"].append(name)
      data["line"].append(line)

In [16]:
df = pd.DataFrame(data=data)

In [18]:
df.head()

            name                                               line
0  Unknown woman   Once upon a time, four Vault Hunters changed ...
1       Claptrap   Apart from the excruciating pain, this is gre...
2       Claptrap   Great! Just let me get this door open and we’...
3       Claptrap   Onward, seeing-eye minion! Let me know if I’m...
4       Claptrap                                                Ow!

In [22]:
sum(df["name"] == "Handsome Jack")

171

In [23]:
df.to_csv("handsome_jack.csv", index=False)